In [1]:
import sys
from urllib.request import urlopen, Request
import urllib.parse as urlparse
import time
from bs4 import BeautifulSoup
import socket

In [2]:
REQUEST_HEADER = {
    'User-Agent': "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.134 Safari/537.36"
}

In [3]:
comps = []

In [4]:
url = 'http://www.druginfosys.com/productlist.aspx/?companycode='
socket.setdefaulttimeout(30)

In [5]:
import pandas as pd

In [ ]:
for i in range(1000,2000):
    lists = []
    try:
        response = urlopen(Request(url+str(i), headers=REQUEST_HEADER))
        soup =BeautifulSoup(response, 'html.parser')
        title = soup.find('h1').text
        print(title)
        try:
            trs =  soup.find('table',attrs={'id':'ContentPlaceHolder1_DGrid'}).findAll('tr')
        except:
            continue 
        for tr in trs:
            tds = tr.findAll('td')
            lis = []
            for td in tds:
                lis.append(td.text)
            lists.append(lis)
    except:
        continue
    comps.append(title)
    df = pd.DataFrame(lists)
    writer = pd.ExcelWriter('pages/'+str(i)+'.xlsx', engine='xlsxwriter')
    df.to_excel(writer, sheet_name='Sheet1',index=False)
    writer.save()

SPADIX PHARMACEUTICALS
AR PHARMACEUTICALS
ASTELLAS PHARMACEUTICALS
GILLMAN PHARMACEUTICALS
MEDIFINE LABORATORIES
MEDIFINE LABORATORIES
PAK RISEN PHARMACEUTICALS
MED ASIA PHARMACEUTICALS
ROCK PHARMACEUTICALS
SAYYED PHARMACEUTICALS
RAY PHARMA (PVT) LTD
KOHS PHARMACEUTICALS
MEDIMARKERS PHARMACEUTICALS
UNI-TECH PHARMACEUTICALS (PVT) LTD
ISIS PHARMACEUTICAL
ASIAN CONTINENTAL (PVT) COMPANY
FARMACEUTICS INTERNATIONAL
ALIED MEDICAL
TG PHARMA
AMARANT PHARMACEUTICALS (PVT)
ZUMARS PHARMA (PVT) LTD.
SCILIFE PHARMA (PRIVATE) LTD
HATAF PHARMA
SCITECH
MCOLSON RESEARCH LABORATORIES
CONTINENTAL PH
BIOMEDICS
ANGELINI PHARMACEUTICALS (PVT) LTD
ORGANIC PHARMACEUTICALS.
EASTWEST PHARMA
PHARMETHICS
TRANS ASIAN
SEATLE PHARMA PAKISTAN (PVT) LTD.
ADCARE PHARMA
SHAF PHARMA
FASTEL LAB
KINSA PHARMACEUTICALS
CELLGENE PHARMACEUTICALS INTERNATIONAL
AVENTEK PHARMA
OCU CARE
SAIFVENT
TRIPPLE A
GT PHARMA
AVITAL PHARMA
MEDISAVE PHARMACEUTICALS
CONVELL LABORATORIES
CREST PHARMACEUTICALS
Al-Aju
Aneeb Pharmaceuticals (Pvt.) Ltd
ARSONS PHARMACEUTICALS INDUSTRIES (PVT) LTD
AXIS PHARMACEUTICALS
Basel Pharmaceuticals
Baxter Karachi
Berlex Lab International
British Pharmaceuticals Ltd
Curatech Pharma (Pvt) Ltd
GHANI BROTHERS KARACHI
HARRISON PHARMACEUTICALS
HOOVER PHARMACEUTICALS (PVT) LTD
HYGEIA PHARMACEUTICALS
KINGS PHARMACEUTICALS
Masfa Industries (Pvt) Ltd
Medisynth Pharmaceuticals
MURFY PHARMACEUTICALS (PVT) LTD
Myrtle Pharma Kar.
NETWORK MARKETING SERVICE
ONCOGENE PHARMACEUTICALS KARACHI
PDH LABORATORIES (PVT) LTD
PRAYS PHARMACEUTICALS
PROMED INTERNATIONAL RAWALPINDI
RELIANCE PHARMA
Remedy Pharmaceuticals (Pvt) Ltd
SAFINA PHARMA (PVT) LTD
SATURN PHARMACEUTICALS (PVT) LTD
Siam Pharmaceuticals
SUNRISE PHARMA (PVT) LTD
THE PAK LANE PHARMA UPPER MALL SCHEME PAKISTAN
UNITED INTERNATIONAL KARACHI
WARAFANA PHARMACEUTICALS
ZAYNEB SCIENTIFIC PRODUCTS
Humayun International Pvt Ltd.
LEGACY PHARMACEUTICALS
MED ASIA PHARMACEUTICALS PVT LTD PAKISTAN
WINBRAIN RESEARCH LABORATORIES
ONYX PHARMACEUTICAL
TREAT PHARMACEUTICALS
KAIZEN PHARMACEUTICALS PVT LTD.
APTCURE PRIVATE LIMITED
NEOPHAR HEALTH-CARE
GLISTEN PHARMA
SERENE PHARMACEUTICALS
PHARMA EDGE
NEXT PHARMA
OLIVE HEALTH CARE (PVT)LIMITED
GRATON PHARMA
WAHABSONS PHARMA
HIRANIS PHARMACEUTICALS PVT LTD
MERILINE PHARMACEUTICALS
MEDICAUX HEALTHCARE
MEDICAUX HEALTHCARE
MEDICAUX HEALTHCARE
MEDICAUX HEALTHCARE
ASIAN CONTINENTAL (PVT) COMPANY
SCHERING PLOUGH PAKISTAN (PVT) LTD
KNEL PHARMA
GENOME PHARMACEUTICALS (PVT) LTD
GENOME PHARMACEUTICALS (PVT) LTD
MAQ PHARMA
MASTER PHARMA
ALLMED LABS
EG PHARMA
EG PHARMACEUTICALS
MEDICINECO PHARMACEUTICALS
KANEL PHARMACEUTICALS
SIMZ PHARMACEUTICALS
KAIR PHARMA (SUBSIDIART OF S.J & G)
BASIL PHARM
ASTARL PVT LTD.
SOIN PHARMACEUTICALS
JULPHAR PAKISTAN
FORAY PHARMACEUTICALS
PHARMAFIVE (PVT) LTD
ASTER LIFE SCIENCES
AGROR PHARMA
CIBEX (PRIVATE) LIMITED
CIDEX LABORATORIES

In [1]:
import glob
import pandas as pd

In [2]:
files = glob.glob('pages/*.xlsx')

In [12]:
df = pd.DataFrame()

In [13]:
for f in files:
    data = pd.read_excel(f)
    df = df.append(data.iloc[1:])

In [14]:
len(df)

40437

In [15]:
df.tail()

         0        1                          2     3         4     5       6
27  060205  SPORZON     Ceftriaxone (Na) [1 g]   Inj  Per vial  0.00  321.00
28  060203  SPORZON  Ceftriaxone (Na) [250 mg]   Inj  Per vial  0.00  101.00
29  060204  SPORZON  Ceftriaxone (Na) [500 mg]   Inj  Per vial  0.00  170.00
30  062363    TYZAN          Tizanidine [2 mg]  Tabs     1x10s  0.00   83.00
31  062368   ZOLCER         Omeprazole [20 mg]  Caps      2x7s  0.00  144.00

In [17]:
df.drop_duplicates
df.head()

,0,1,2,3,4,5,6
1,055113,ABNIL,Orlistat [120 mg],Caps,30s,892.50,1050.00
2,008625,ACTHAR GEL,Corticotropin [40 IU/ml],Inj,Vial,0.00,0.00
3,,ACTI-5,"Calcium Gluconoglucoheptonate [150 mg/5ml], Di...",Syrup,120ml,92.57,108.90
4,006164,ADAMON,Ciclonium (Br) [5 mg/ml],Inj,2mlx20s,291.72,343.20
5,006211,ADAMON,Ciclonium (Br) [10 mg],Tabs,100s,252.50,297.06

In [18]:
len(df)

40437

In [20]:
cats = []

In [22]:
for index, row in df.iterrows():
    cat = row[3]
    if str(cat).lower!= 'nan':
        cats.append(cat)

In [23]:
len(set(cats))

85

In [24]:
cat_q = []
def make_category_q(cat):
    q = """('{cat_name}','{active}','{status}')"""
    q = q.format(cat_name=cat,active="1",status="1")
    cat_q.append(q)
for cat in list(set(cats)):
    make_category_q(cat)

In [25]:
cat_query = ' , '.join(cat_q)

In [26]:
cat_query = 'INSERT INTO categories (categories_name,categories_active,categories_status) VALUES \n' + cat_query

In [27]:
category = list(set(cats))

In [29]:
with open('catquery.txt','w') as f:
    f.write(cat_query)

In [31]:
category.index("Syrup") + 253

256

In [40]:
prods = []

In [41]:
for index, row in df.iterrows():
    cat = row[3]
    if str(cat).lower() == 'nan':
        cat = '338'
    else:
        cat = str(category.index(cat) + 253)
    prod = row[1]
    if str(prod).lower() == 'nan':
        continue
    pprice = str(row[5])
    sprice = str(row[6])
    genr = row[2]
    if str(genr).lower() == 'nan':
        genr = ''
    genr = genr.replace('[','')
    genr = genr.replace(']','')
    genr = genr.replace("'","")
    q = """('{name}', '{cat}', '{qty}', '{prate}', '{active}', '{status}' , '{srate}', '{exp}', '{comp}', '{gen}' )
    """
    q = q.format(name=prod,qty='0',prate=pprice,srate=sprice,active='1',status='1',exp='2021-01-01',comp='1',gen=genr,cat=cat)
    prods.append(q)

In [42]:
len(prods)

40437

In [43]:
len(set(prods))

40179

In [44]:
prods = list(set(prods))

In [45]:
prods = ' , '.join(prods)

In [46]:
prods = "INSERT INTO product(product_name, categories_id, quantity, p_rate, active, status, s_rate, expiary_date, company_id, generic) VALUES " + prods

In [47]:
with open('query.sql','w') as f:
    f.write(prods)

In [ ]:
INSERT INTO product(product_name, categories_id, quantity, p_rate, active, status, s_rate, expiary_date, company_id, generic) VALUES